{% extends 'base.html' %}

{% block content %}
    <h1>Edit the details of the Habit you selected</h1>
    <form method="post" class="habit-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}{{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }} {{ form.description }}
        </div>
        <input type="submit" value="Submit changes to habit" class="submit-button">
    </form>
    <a href="{% url 'home' %}">Cancel</a>
{% endblock %}